<form action="/tasks" method="post">
  <p>Enter a task:</p>
  <input type="text" name="task[title]">
  <p>Enter a description:</p>
  <textarea name="task[description]"></textarea><br/>
  <input type='submit'>
</form>

<a href="/">Main Menu</a>
